.ingredients-list-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
}

.ingredients-list-header {
    margin-bottom: 10px;
    font-weight: 600;
}

.ingredients-list {
    margin-bottom: 50px;
}

.ingredients-list-item {
    font-size: 1.25rem;
    font-weight: 200;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.ingredients-list-item::marker {
    font-size: 0.8rem;
    vertical-align: text-bottom;
}
